<h1>Services</h1>

<% if @services.any? %>
  <p><%= @services.total_count %> services found</p>
  <ul>
    <% @services.each do |s| %>
      <li><%= link_to s.name, s %> – <%= s.category %></li>
    <% end %>
  </ul>
  <%= paginate @services %>
<% else %>
  <p>No services found.</p>
<% end %>
